container_commands:
  01_DBreset:
    command: "source /opt/python/run/venv/bin/activate && python manage.py flush"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: True
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  04_WSGISetting:
    command: "echo 'WSGIPassAuthorization On' >> ../wsgi.conf && cat ../wsgi.conf"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "config.settings.production"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "config/wsgi.py"